@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:wght@100;200;400;500;600;700&family=Manrope:wght@300;400;500&family=Mukta&family=Nanum+Gothic&family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:wght@100;200;400;500;600;700&family=Manrope:wght@300;400;500&family=Mukta&family=Nanum+Gothic&family=Nanum+Myeongjo&family=Rancho&display=swap');
*{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(239, 158, 17);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(46, 112, 255);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
     /* creates padding around scroll thumb */
  }

@tailwind base;
@tailwind components;
@tailwind utilities;